.user-profile{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold; 
    display: flex;
    justify-content: center; 
}

.catch-phrase{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 20px;
    font-weight: regular; 
    display: flex;
    justify-content: center; 
    margin-top: -1.5em;
}

.user-image {
    width: 20%;
    border-radius: 50%;
    border: 3px solid white; 
    box-shadow: 0 2px 24px #F4CD9A;
    display: flex;
    margin: auto;
}

.name{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 45px;
    font-weight: bold; 
    display: flex;
    justify-content: center; 
}

.username{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 600; 
    display: flex;
    justify-content: center;
    margin-top: -1em;
}
.containers{
    display: flex;
    justify-content: center;
    gap: 5em;
    
}
.form-button {
    height: 4em;
    border-radius: 40px;
    border: 1.5px solid white;
    box-shadow: 0 8px 24px #966478;
    width: 15em;
    margin-top: 1em;
}   


#form-button-text {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 0.45em;
    
}


