.user-profile {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold; 
    display: flex;
    justify-content: center; 
    text-align: center; 
}

.user-image {
    width: 30em;
    height: 30em;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white; 
    box-shadow: 0 2px 24px #F4CD9A;
    display: flex;
    margin: auto;
}

.catch-phrase {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 1.3em;
    font-weight: regular; 
    display: flex;
    justify-content: center; 
    text-align: center; 
    margin-top: -1.5em;
}

.name {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 2.9em;
    font-weight: bold; 
    display: flex;
    justify-content: center; 
    text-align: center; 
}

.username {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 1.95em;
    font-weight: 600; 
    display: flex;
    justify-content: center;
    text-align: center; 
    margin-top: -1em;
}

.containers {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.form-button {
    height: 4em;
    border-radius: 40px;
    border: 1.5px solid white;
    box-shadow: 0 8px 24px #966478;
    width: 15em;
    margin-top: 1em;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#form-button-text {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 1.95em;
    margin: 0.45em;
}

a {
    text-decoration: none; 
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em; 
}

.logout-button {
    height: 4em;
    width: 9em;
    background-color: white;
    color: #312F66;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 0.6em;
    border-radius: 20px;
    border: 1.5px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 1024px) {

    .user-image {
        width: 20em;
        height: 20em;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid white; 
        box-shadow: 0 2px 24px #F4CD9A;
        display: flex;
        margin: auto;
    }

    .user-profile {
        font-size: 30px;
    }

    .catch-phrase {
        font-size: 1em;
        margin-top: -1em; 
    }

    .name {
        font-size: 2em; 
    }

    .username {
        font-size: 1.5em; 
        margin-top: -0.5em; 
    }

    .containers {
        display: flex;
        justify-content: center;
        align-items: center; 
        gap: 1em;
        text-align: center; 
    }
    
    .form-button {
        height: 5em;
        border-radius: 40px;
        width: 7em;
    }   
    
    #form-button-text {
        content: normal;
        justify-content: center;
        align-content: center; 
        font-size: 1.3em;
    }    
}
