body {
    font-family: "Inter", sans-serif; 
}

.chat-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    color: white;
    flex: 1;
    height: 80vh;
}

.sidebar {
    margin-left: 2em; 
    width: 30%;
    border-right: 2px solid white;
    overflow-y: auto;
    padding: 1em; 
}


.otheruser-image{
    border-radius: 40px;
    width: 2em;
}

.conversation {
    background-color: #4845a1;
    border-radius: 20px; 
    margin-bottom: 2em;
    padding: 10px;
    text-align: left;
}

.conversation h3 {
    margin: 0;
}

.conversation p {
    margin: 5px 0;
}

.conversation small {
    display: block;
    color: #D4D4D4; 
}

.conversation a {
    margin-top: 5px;
    color: #007bff;
    text-decoration: none;
}

.conversation a:hover {
    text-decoration: underline;
}

.chat-content {
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.message-form {
    margin-bottom: 20px;
}

.message-form textarea {
    width: 100%;
    height: 20%;
    margin-bottom: 10px;
    border-radius: 10px; 
    padding: 10px; 
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.message.sent {
    text-align: right;
}

.message.received {
    text-align: left;
}

.sender-name {
    margin: 0;
    font-size: 0.9em;
    color: #F4CD9A;
}

.message-time {
    font-size: 0.8em;
    color: #966478;
    margin: 0;
}

.conversation a {
    margin-top: 5px;
    margin-left: auto; 
    display: inline-flex; 
}

.conversation img.send-message-icon {
    width: 20px; 
    height: 20px;
}

.image-message {
    width: 3em;
    height: 3em;
    border-radius: 40px;
}


/* mobile */
@media only screen and (max-width: 1024px) {

    .sidebar {
        margin-bottom: 1em; 
        margin-left: 0;
        width: 25%;
        border-right: 2px solid white;
        overflow-y: auto;
    }
    
    
    .otheruser-image{
        border-radius: 40px;
        width: 4em;
    }
    
    .conversation {
        background-color: #4845a1;
        border-radius: 20px; 
        margin-bottom: 2em;
        padding: 10px;
        text-align: left; 
    }

    
    .conversation h3 {
       display:none;
    }
    
    .conversation p {
        display:none;
    }
    
    .conversation small {
        display:none;
    }

    .chat-content {
        width: 75%;
    }
    
    .message-form {
        margin-bottom: 2em;
        margin-right: 0.3em;
        padding: 10px;
    }
    
    .message-form textarea {
        width: 100%;
        height: 15%;
        border-radius: 10px; 
        padding: 10px; 
    }
    
    .message {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
    }
    
    .message.sent {
        text-align: right;
    }
    
    .message.received {
        text-align: left;
    }
    
    .sender-name {
        margin-top: 1em;
        font-size: 0.9em;
        color: #F4CD9A;
    }
    
    .message-time {
        font-size: 0.8em;
        color: #966478;
        margin: 0;
    }
    
    .conversation a {
        margin-top: 5px;
        margin-left: auto; 
        display: inline-flex; 
    }
    
}


.messages {
    flex: 1;
    overflow-y: auto;
}


.message-wrap {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
}
