body {
    background: radial-gradient(circle at top right, #F4CD9A, #966478, #312F66, #281B3B);
    background-attachment: fixed; 
}

.navbar {
    background-color: #564D86;
    font-family: "Inter", sans-serif; 
    text-align: left;
    padding-left: 1%; /* Adiciona padding apenas para o topo e para baixo */
    display:flex;
    align-items: center;
    height:fit-content;
    border-top-right-radius: 20px; 
    border-top-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius: 20px; 
    border-width: 100%;
}

.navbar a {
    color: white;
    padding:1% 1%; ; 
    border: 1.5px solid white; 
    border-radius: 20px; 
    text-decoration: none;
    font-family: "Inter", sans-serif;
    margin-right: 10px;
}

.navbar a:hover {
    background-color: #857EAD;
}

.navbar a.active {
    background-color: #5546A9;
}

.navbar a.avatar{
    background-color: #564D86;
    border: none;
    display: flex;
    align-items: center;
}

#navbar-text {
    font-size: 15px; 
    font-weight: bold; 
}

.sec-navbar {
    width: min-content;
    background-color: #F4CD9A;
    font-family: "Inter", sans-serif;
    text-align: center;
    padding: 0.5% 7%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 2px solid white; 
    border-radius: 40px; 
    margin: 0 auto; 
}


.sec-navbar a {
    color: white;
    padding:2% 7%; ; 
    border: 1px solid white; 
    border-radius: 20px; 
    text-decoration: none;
    font-family: "Inter", sans-serif;
    margin-right: 10px;
    
}

.sec-navbar a:hover {
    background-color: #857EAD;
}

.sec-navbar a.active {
    background-color: #966478;
}

#sec-navbar-text {
    font-size: 15px; 
    font-weight: bold; 
}

.logo{
    width:5%;
    padding-right: 1%;
}

.info-text {
    font-family: "Inter", sans-serif;
    color: white;
    margin-left: 25px;
}

#First-text {
    font-family: "Inter", sans-serif;
    font-weight: bold; 
    font-size: 45px; 
}

#Second-text {
    font-family: "Inter", sans-serif;
    font-size: 45px; 
    margin-top: -40px;
}

#disclaimer {
    font-family: "Inter", sans-serif;
    font-size: 10px; 
    margin-top: -40px;
}
.displays{
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 25px;
    display: flex;
    justify-content: space-between; /* Isso alinha os elementos separadamente */
    align-items: baseline;
}

.category{
    text-align: left;
    font-weight: bolder; 
    margin-top: 20px;
    font-size: 15px; 
}

.see_more {
    font-size: 15px;
    right:0;
}


.image_display {
    size: 100%;
    display:inline-flex; 
    margin-top: 5px;
    margin-left: 25px;
}

.image_display img {
    margin-right: 10px;
    object-fit: cover;
    width: 200px; 
    height: 200px; 
    display: block;
    border-top: 10px solid white; 
    border-left: 10px solid white;
    border-right: 10px solid white; 
    border-bottom: 50px solid white; 
	position: relative;
	box-shadow: 0 8px 24px #966478;
}

.slide {
    position:relative;
}

.slide .btn {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    top: 50%;
    position:absolute;
    transform: translateY(-50%);
    cursor: pointer;
}

.slide .prev {
    left: 0; 
}

.slide .next {
    right: 0;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1.5px solid white;
    display: flex;
    align-items: center;
}