body {
    background: radial-gradient(circle at top right, #F4CD9A, #966478, #312F66, #281B3B);
    background-attachment: fixed; 
}

.navbar {
    background-color: #564D86;
    font-family: "Inter", sans-serif; 
    padding-left: 1%;
    display: flex;
    align-items: center;
    width: 95vw;
    border-top-right-radius: 20px; 
    border-top-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius: 20px; 
}

.navbar a {
    margin-right: 1%;
    color: white;
    padding:1% 1%; ;
    border: 1.5px solid white; 
    border-radius: 20px; 
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.navbar a:hover {
    background-color: #857EAD;

}

.navbar a.active {
    background-color: #5546A9;
}

.navbar a.logo {
    background-color:transparent;
    border: 0;  
    width: 10%
}

.navbar a.logo img {
    border: 0;
    width: 90%
}


.navbar a.avatar {
    border:none;
    border-radius: 50%;
    background-color:transparent;
    width: 10%
}

.navbar a.avatar img {
    width: 25%;
    display: flex;
    align-items: center;
    border: 1.5px solid white; 
    border-radius: 50%;
}


.navbar a.icon {
    border:none;
    background-color:transparent;
    width: 1.2%;
    justify-content: center;
    align-items: center; 
}

.navbar a.icon img {
    width: 100%;
    color: white;
}

#navbar-text {
    font-size: 100%; 
    font-weight: bold; 
    text-align: left;
}

.sec-navbar {
    padding: 0.5em 1em;
    background-color: #F4CD9A;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 40px;
    width: max-content;
    margin: 0 auto;
}

.sec-navbar a {
    border-radius: 40px;
    color: white;
    padding: 0.8em 1.6em;
    border: 1px solid white;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    margin-right: 0.5em;
}


#sec-navbar-text {
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
}

.sec-navbar a:hover {
    background-color: #857EAD;
}

.sec-navbar a.active {
    background-color: #966478;
}

.info-text {
    font-family: "Inter", sans-serif;
    color: white;
    margin-left: 25px;
}

#First-text {
    font-family: "Inter", sans-serif;
    font-weight: bold; 
    font-size: 45px; 
}

#Second-text {
    font-family: "Inter", sans-serif;
    font-size: 45px; 
    margin-top: -40px;
}

#disclaimer {
    font-family: "Inter", sans-serif;
    font-size: 10px; 
    margin-top: -40px;
}
.displays{
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 25px;
    display: flex;
    justify-content: space-between; 
    align-items: baseline;
}

.category{
    text-align: left;
    font-weight: bolder; 
    margin-top: 20px;
    font-size: 15px; 
}

.see_more {
    margin-right: 8em;
    text-decoration: none;
}
.see_more p {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: white;
}

/*
clara por favor ajusta isto
é suposto o texto aparecer debaixo da imagem
ver figma
*//*
done ihih <3
*/
.image_display {
    size: 100%;
    display: inline-flex; 
    margin-top: 5px;
    margin-left: 25px;
    align-content: center;
}

.image_wrapper {
    position: relative;
}

.image_display img {
    margin-right: 10px;
    object-fit: cover;
    width: 12em; 
    height: 12em; 
    display: block;
    border-top: 0.6em solid white; 
    border-left: 0.6em solid white;
    border-right: 0.6em solid white; 
    box-shadow: 0 8px 24px #966478;
}

.image_display p {
    position: absolute;
    top: 9em;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: black; 
    border-top: 0.3em solid white; 
    border-bottom: 0.3em solid white; 
    background-color: white;
    width: 95.5%;
}

/* mobile */
@media only screen and (max-width: 1024px) {

    .navbar a.logo {
        width: 30%
    }

    .navbar a.avatar {
        width: 35%
    }

    .navbar a.avatar img {
        display: flex;
        align-items: center;
        border: 1.5px solid white; 
        height: 30%; 
        border-radius: 50%;}


    .desktop {
        display: none;
    }

    .navbar a.active {
        display: none;
    }
    
    .sec-navbar a {
        padding: 0.7em 1em;
        margin-right: 0.3em;
    }

    #sec-navbar-text {
        font-size: 0.8em;
        font-weight: bold;
    }

}

#search {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(168deg) brightness(109%) contrast(103%);
}

.desktop-menu {
    display: none;
    position: absolute;
    background-color: #356EA0;
    width: 100%;
    bottom: -150px;
    left: 0;
    height: inherit;
}

.desktop-menu.show {
    display: block;
}

.categories-navbar {
    display: none;
    background-color: #356EA0; 
    padding: 10px 0; 
    text-align: center; 
    width: 100%;
}

.categories-navbar a {
    color: white; 
    padding: 5px 10px; 
    text-decoration: none; 
    font-family: "Inter", sans-serif;
}


.categories-navbar a.active {
    background-color: #5546A9; 
}


.mobile-menu button img {
    border: 0;
    background-color: transparent; 
}

.mobile-menu {
    display: flex; 
    align-items: center; 
}

.mobile-menu button {
    background:none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: left;
    width: 90%;
}

.mobile-menu button img {
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .mobile-menu button {
        display:none; 
    }
}
