.item-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2em;
}

.item-picture img{
    margin-right: 10px;
    object-fit: cover;
    width: 32em; 
    height: 32em; 
    display: block;
	position: relative;
	box-shadow: 0 8px 24px #966478;
}

.user-image {
    width: 20%;
    border-radius: 50%;
    border: 3px solid white; 
    box-shadow: 0 2px 24px #F4CD9A;
    display: flex;
    margin: auto;
}

.name{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 45px;
    font-weight: bold; 
    display: flex;
    justify-content: center; 
}

.username{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 600; 
    display: flex;
    justify-content: center;
    margin-top: -1em;
}

.background {
    background-color: #564D86;
    display: flex;
    width: 96vw;
    height: 50em;
    border-top-right-radius: 20px; 
    border-top-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius: 20px; 
    z-index: 1;
    position: relative;
}

.background p {
    margin-bottom: 3em; /* Adjust as needed to control the spacing between paragraphs */
}

.content {
    z-index: 2;
    position: relative;
}

