.background {
    background-color: #564D86;
    display: flex;
    width: 96vw;
    height: 50em;
    border-top-right-radius: 20px; 
    border-top-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius: 20px; 
    z-index: 1;
    position: relative;
}

.background p {
    margin-bottom: 3em; /* Adjust as needed to control the spacing between paragraphs */
}

.grid-container {
    display: grid;
    grid-template-columns: 32em auto; /* Two columns */
    grid-gap: 20px; /* Gap between grid items */
}

.item-picture {
    grid-column: 1;
    justify-content: left;
    padding-left: 1em;
}

.item-picture img{
    margin-top: 2em;
    margin-right: 5px;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
    width: 32em; 
    height: 32em; 
    display: block;
	position: relative;
	box-shadow: 0 8px 24px #966478;
}

.user-data {
    z-index: 2;
    grid-column: 1;
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content: left;
    
}

.user-image {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 3px solid white; 
    box-shadow: 0 2px 24px #F4CD9A;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
}
#username{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold; 
}

#sales-history{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 600;
}



