#item-card {
    background: #564D86;
    color: white;
    border-radius: 40px;
    box-shadow: 0 8px 24px #966478;
    width: 60em;
    margin: auto;
    margin-top: -0.5em;
    display: flex;
    justify-content: left; 
    align-items: center;
    height: 8em;
}

#item-card img {
    margin-left: 1em;
    object-fit: cover;
    width: 7em; 
    height: 7em; 
    display: block;
    border-radius: 35px;
}

#item-things {
    margin-left: 1em;
    display: flex;
    width: 5em;
    flex-direction: column;
}

#item-title {
    font-size: 30px;
    margin: 0;
    width: 15em;
    font-family: "Inter", sans-serif;
}

#item-status {
    margin: 0;
    font-family: "Inter", sans-serif;
}

#item-price {
    font-size: 25px;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

#item-user-status {
    margin: auto;
    display: flex;
    justify-content: right;
    margin-left: 25em;
}

#item-user-status-text {
    margin-left: 6em;
    font-size: 35px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

#no-items{
    font-size: 25px;
    margin-top: 2em;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: center;
    color:white;
}

#ship-button {
    cursor: pointer;
    border: none;
    appearance: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('/../images/others/print-solid.svg');
    background-size: cover;
    background-color: transparent;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(168deg) brightness(109%) contrast(103%);
    margin-left: 12em;
    margin-top: 3em;

}