.register_button {
    text-decoration: underline;
    color: white;
}

.login-text {
    font-family: "Inter", sans-serif;
    color: white;
}

#First-text {
    font-family: "Inter", sans-serif;
    font-weight: bold; 
    font-size: 45px;
    text-align: center;
}

#Second-text {
    font-family: "Inter", sans-serif;
    font-size: 21px; 
    margin-top: -40px;
    text-align: center;
}

.form_rectangle {
    background: #564D86;
    width: auto;
    border-radius: 40px;
    box-shadow: 0 8px 24px #966478;
    width: 35em;
    margin: auto;
    margin-top: -0.5em;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#form_button {

    height: 4em;
    border-radius: 40px;
    border: 1.5px solid white;
    box-shadow: 0 8px 24px #966478;
    width: 10em; 
    margin-top: 5em;
    justify-content: center; 
    align-items: center;
    background-color: white;
    
}


#username {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 30px;
}

#form-text {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 45px;
}

#form-button-text {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 0.45em;
}

#input-login {
    background: transparent;
    height: 3em;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    border: none;
    font-size: 20px;
    color: white;
}

#input-login:focus {
    border: none;
    outline: none;
}


@media only screen and (max-width: 1024px) {
    .form_rectangle {
        background: #564D86;
        width: auto;
        border-radius: 40px;
        box-shadow: 0 8px 24px #966478;
        width: 15em;
        margin: auto;
        display: flex;
        justify-content: center; 
        align-items: center; 
    }  
}