.register_button {
    text-decoration: underline;
    color: white;
}

.login-text {
    font-family: "Inter", sans-serif;
    color: white;
}

#First-text {
    font-family: "Inter", sans-serif;
    font-weight: bold; 
    font-size: 45px;
    text-align: center;
}

#Second-text {
    font-family: "Inter", sans-serif;
    font-size: 21px; 
    margin-top: -40px;
    text-align: center;
}

.form_rectangle {
    background: aqua;
    width: auto;
    border-radius: 40px;
}