.title{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold; 
    display: flex;
    justify-content: center; 
}

.subtitle{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 20px;
    font-weight: regular; 
    display: flex;
    justify-content: center; 
    margin-top: -1.5em;
}

.section-title{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 600; 
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2em;
    height: 4em;
    border-radius: 40px;
    border: 1.5px solid white;
    box-shadow: 0 8px 24px #966478;
    width: 10em; /* Em vez de 'width: 15em;' */
    align-items: center;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600; 
}

#fileInput {
    color: white;
    font-weight: 600;
    align-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#imagePreview {
    max-width: 100px;
    max-height: 100px;
    align-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.form_rectangle {
    background: #564D86;
    width: auto;
    border-radius: 40px;
    box-shadow: 0 8px 24px #966478;
    width: 35em;
    margin: auto;
    margin-top: -0.5em;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#input-text {
    background: transparent;
    height: 3em;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    border: none;
    font-size: 20px;
    color: white;
}

#input-text:focus {
    border: none;
    outline: none;
}

.status {
    align-items: center;
    text-align: center;
}

.shipping {
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.category {
    text-align: center;
}

.dropdown {
    margin: 0 10px; /* Adjust margin as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow the container to wrap if needed */
    margin-top: 10px; /* Adjust margin as needed */
}

.status label {
    color: white;
}

.shipping label {
    color: white;
}

.item_price label {
    color: white;
}

@media only screen and (max-width: 1024px) {
    .form_rectangle{
        width: 95%;
    }

    button{
        height: 3.5em;
    }
}