body {
    background: radial-gradient(circle at top right, #F4CD9A, #966478, #312F66, #281B3B);
    background-size: 100%;
    size: 100%;
}

.navbar {
    width: 95%;
    background-color: #564D86;
    border-radius: 20px;
    font-family: "Inter", sans-serif; 
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px; 
    display: inline-flex;
    align-items: center;
}

.navbar a {
    color: white;
    padding: 5px 15px 5px; 
    border: 1.5px solid white; 
    border-radius: 20px; 
    text-decoration: none;
    font-family: "Inter", sans-serif;
    margin-right: 10px;
}

.navbar a:hover {
    background-color: #857EAD;
}

.navbar a.active {
    background-color: #5546A9;
}

#navbar-text {
    font-size: 15px; 
    font-weight: bold; 
}

.logo{
    width:5%;
    padding-right: 1%;
}

.info-text {
    font-family: "Inter", sans-serif;
    color: white;
    margin-left: 25px;
}

#First-text {
    font-family: "Inter", sans-serif;
    font-weight: bold; 
    font-size: 45px; 

}
#Second-text {
    font-family: "Inter", sans-serif;
    font-size: 45px; 
    margin-top: -40px;
}

#disclaimer {
    font-family: "Inter", sans-serif;
    font-size: 10px; 
    margin-top: -40px;
}
.displays{
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 25px;
    display: flex;
    justify-content: space-between; /* Isso alinha os elementos separadamente */
    align-items: baseline;
}

.category{
    text-align: left;
    font-weight: bolder; 
    margin-top: 20px;
    font-size: 15px; 
}

.see_more {
    font-size: 15px;
    right: inherit;
}


.image_display {
    size: 100%;
    display:inline-flex; 
    margin-top: 5px;
    margin-left: 25px;
}

.image_display img {
    margin-right: 10px;
    object-fit: cover;
    width: 200px; 
    height: 200px; 
    display: block;
    border-top: 10px solid white; 
    border-left: 10px solid white;
    border-right: 10px solid white; 
    border-bottom: 50px solid white; 
	position: relative;
	box-shadow: 0 8px 24px #966478;
}

.slide {
    position:relative;
}

.slide .btn {
    background: none;
    border: none;
    color: white;
    font-size: 30px; /* ajuste o tamanho conforme necessário */
    top: 50%;
    position:absolute;
    transform: translateY(-50%);
    cursor: pointer;
}

.slide .prev {
    left: 0; /* ajuste a posição à esquerda */
}

.slide .next {
    right: 0; /* ajuste a posição à direita */
}
